.post {
    border: solid black 1px;
    border-radius: 5px;
    margin: 8px;
    padding: 14px 20px;
}

#username {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

#time {
    color: rgb(81, 81, 81);
    font-size: 13px;
}

.like {
    color: rgb(81, 81, 81);
}

#profile {
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
}

#follow {
    margin: 10px;
    font-size: 15px; 
}

#following {
    margin: 5px;
}